Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-RESTful==0.2.5
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.4
psycopg2==2.4.5
pyyaml==3.10
itsdangerous==0.23
requests==2.0.0
rsa==3.1.1
simplejson==3.3.0
six==1.4.1
zope.interface==4.0.1
gunicorn==18.0
flask-heroku==0.1.4
Tempita==0.5.1
decorator==3.4.0
sqlalchemy-migrate==0.7.2