{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
<h2>Explore</h2>

<form id="input">
	<label for="type">
		Type:
	</label>
	<select id="type" name="type">
		<option value="mps">MP</option>
		<option value="quotations">Quotation</option>
	</select>
	<input type="text" placeholder="Search By Text or Number" id="id" name="id" />

	<input id="query-btn" type="submit" value="Query">
	<br />
</form>

<span class="help-block">Natural Text Analysis by <a href="http://www.alchemyapi.com/">AlchemyAPI</a></span>

<script type="text/template" class="mp_template">
	<div>
		<h3><%= name %><span class="label label-<%= labelFromParty(party) %>"><%= party %></span></h3>
	</div>
</script>

<script type="text/template" class="quotation_template">
	<div> 
		<a href="javascript://nop/" class="link" data-type="mps" data-id='<%= from_mp.id %>'><%= from_mp.name %></a> 
		<% if (target_mp) { %>
			speaking to 
			<a href="javascript://nop/" class="link" data-type="mps" data-id='<%= target_mp.id %>'><%= target_mp.name %></a> 
		<% } %>
		on <%= date %> about <%= business %>
		
		<a class="link btn btn-info btn-xs" data-type="quotations" data-id="<%= id %>">Examine</a>
		<div class="quotation_text"><%= text %></div>
	</div>
	<br />
</script>

<script type="text/template" class="entities_template">
	<table class="table table-striped">
		<tr>
			<th>type</th>
			<th>relevance</th>
			<th>text</th>
			<th>sentiment</th>
			<th>score</th>
		</tr>
		<% _.each(obj, function(data, index) { %>
			<%
				var label = "default";
				if (data.sentiment === "negative") {
					label = "danger";
				} else if (data.sentiment === "positive") {
					label = "success";
				}
			%>
			<tr>
				<td class="type"><%= data.type %></td>
				<td class="relevance"><%= data.relevance %></td>
				<td class="text"><%= data.text %></td>
				<td class="sentiment"><span class="label label-<%= label %>"><%= data.sentiment %></span></td>
				<td class="score"><%= data.score %></td>
			</tr>
		<% }); %>
	</table>
	<br />
</script>

<script>
	$(document).ready(function() {
		var type = getParameterByName("type", window.location.href);
		var id = getParameterByName("id", window.location.href);

		$('#type option[value="' + type + '"]').attr("selected", "selected")
		$("#id").val(id);
		$("#query-btn").click();
	});

	$(document).on('click', '.link', function() {
		var $this = $(this);
		var data_id = $this.data('id');
		var data_type = $this.data('type');
		if (data_id !== undefined) {
			var $type = $('#type');
			var $id = $('#id');
			
			$type.val(data_type);
			$id.val(data_id);
			$('#query-btn').trigger('click');
		}
	});


	$(document).on('submit', 'form', function(e) {
		e.preventDefault();
		var val = $('#type').val();
		var id = $('#id').val();

		var isMp = (val === "mps");
		
		var compiled_quotation = _.template($('.quotation_template').html());
		var compiled_mp = _.template($('.mp_template').html());
		var compiled_entities = _.template($('.entities_template').html());
		
		$.ajax({
			url : val + '/' + id, 
			type: "GET",
			dataType : 'json',
			success : function(response) {
				var data, q_to, q_from;
				var $result = $("#result");
				$result.html("");
				if (isMp) {
					_.each(response.data, function(data) {
						q_from = data.quotations_from;
						q_to = data.quotations_to;
						mp = data.mp;

						$result.append(compiled_mp(mp));

						_.each(q_from, function(item) {
							$result.append(compiled_quotation(item));
						});
						_.each(q_to, function(item) {
							$result.append(compiled_quotation(item));
						});
					});
				} else {
					_.each(response.data, function(data) {
						var quotation = data.quotation;
						var entities = data.entities;
						var keywords = data.keywords;

						$result.append("<div>");
						$result.append("<h4>Entities</h4>");
						$result.append(compiled_entities(entities));
						$result.append("<h4>Keywords</h4>");
						$result.append(compiled_entities(keywords));
						$result.append(compiled_quotation(quotation));
						$result.append("</div>");
					});
				}
				$('.quotation_text').shorten();
			}
		});
		return false;
	});

</script>

<div id="result">
</div>
{% endblock %}