{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
<h2>Explore</h2>

<div id="input">
	<label for="type">
		Type:
	</label>
	<select id="type" name="type">
	  <option value="mps">MP</option>
	  <option value="quotations">Quotation</option>
	</select>
	<input type="text" placeholder="Enter a number" id="id" name="id" />

	<input id="query-btn" type="submit" value="Query">
	<br />
</div>

<script type="text/template" class="mp_template">
	<div> 
		<h3><%= name %></h3>
	</div>
</script>

<script type="text/template" class="quotation_template">
	<div> 
		<a href="javascript://nop/" class="link" data-type="mps" data-id='<%= from_mp[0].id %>'><%= from_mp[0].name %></a> speaking to 
		<a href="javascript://nop/" class="link" data-type="mps" data-id='<%= target_mp[0].id %>'><%= target_mp[0].name %></a> 
		on <%= date %> about <%= business %>
		
		<a href="javascript://nop/" class="link btn btn-default btn-xs" data-type="quotations" data-id="<%= id %>">Examine</a>
		<div class="quotation_text"><%= text %></div>
	</div>
	<br />
</script>

<script type="text/template" class="entities_template">
	<span class="help-block">Analysis by <a href="http://www.alchemyapi.com/">AlchemyAPI</a></span>
	<table class="table table-striped">
		<tr>
			<th>type</th>
			<th>relevance</th>
			<th>text</th>
			<th>sentiment</th>
			<th>score</th>
		</tr>
		<% _.each(obj, function(data, index) { %>
			<tr>
				<td class="type"><%= data.type %></td>
				<td class="relevance"><%= data.relevance %></td>
				<td class="text"><%= data.text %></td>
				<td class="sentiment"><%= data.sentiment %></td>
				<td class="score"><%= data.score %></td>
			</tr>
		<% }); %>
	</table>
	<br />
</script>

<script>
	$(document).on('click', '.link', function() {
		var $this = $(this);
		var data_id = $this.data('id');
		var data_type = $this.data('type');
		if (data_id !== undefined) {
			var $type = $('#type');
			var $id = $('#id');
			
			$type.val(data_type);
			$id.val(data_id);
			$('#query-btn').trigger('click');
		}
	});


	$(document).on('click', '#query-btn',function() {
		var val = $('#type').val();
		var id = $('#id').val();

		var isMp = (val === "mps");
		
		var compiled_quotation = _.template($('.quotation_template').html());
		var compiled_mp = _.template($('.mp_template').html());		
		var compiled_entities = _.template($('.entities_template').html());		
		
		$.ajax({
			url : 'explore/' + val + '/' + id, 
			type: "GET",
			dataType : 'json',
			success : function(response) {
				var data, q_to, q_from;
				var $result = $("#result");
				$result.html("");
				if (isMp) {
					data = response.mp;
					q_from = response.q_from;
					q_to = response.q_to;
					
					$result.append(compiled_mp(data));
					
					_.each(q_from, function(item) {
						$result.append(compiled_quotation(item));
					});
					_.each(q_to, function(item) {
						$result.append(compiled_quotation(item));
					});
					
					
				} else {
					data = response.quotation;
					var entities = response.entities;
					$result.append(compiled_entities(entities));
					$result.append(compiled_quotation(data));
				}

				
				$('.quotation_text').shorten();
			}
		});
	});

</script>

<div id="result">
</div>
{% endblock %}