{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
<h2>What Do MPs Say in the House of Commons?</h2>
<span class="help-block">Analysis by <a href="http://www.alchemyapi.com/">AlchemyAPI</a></span>
<form id="input">
	<label for="type">
		Type:
	</label>
	<select id="type" name="type">
		<option value="mps">MP</option>
		<option value="quotations">Quotation</option>
	</select>
	
	<!--
	<label for="sample">
		Sample:
	</label>
	<select id="sample" name="sample">
		<option value="repitition">Repitition</option>
		<option value="relevance">Relevance</option>
	</select>
	-->
	<!-- QUOTATION INFO -->
	<!--
	<label for="language">
		Language:
	</label>
	<select id="language" name="language">
	  <option value="any">Any</option>
	  <option value="en">EN</option>
	  <option value="fr">FR</option>
	  <option value="other">Other</option>
	</select>
	
	
	<label for="date-from">
		Date From:
	</label>
	<input name="date-from" type="date">
	
	<label for="date-to">
		Date To:
	</label>
	<input name="date-to" type="date">
	
	-->

	<!-- MP INFO -->
	<!--
	<label for="party">
		Party:
	</label>
	<select id="party" name="party">
	  <option value="any">Any</option>
	  <option value="lpc">LPC</option>
	  <option value="cpc">CPC</option>
	  <option value="npd">NDP</option>
	  <option value="bq">BQ</option>
	  <option value="gpc">GPC</option>
	  <option value="other">Other</option>
	</select>
	-->
	
	<label for="search">
		Search By Relevance For:
	</label>
	<input id="search" name="search" type="search">
	
	<!--
	<label for="search_type">
		Search Type:
	</label>
	<select id="search_type" name="search_type">
	  <option value="any">Any</option>
	  <option value="entity">Entity</option>
	  <option value="keyword">Keyword</option>
	</select>
	-->
	
	<input id="query-btn" type="submit" value="Query">
</form>

<script type="text/template" class="mps_template">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Party</th>
			<th>Riding</th>
		</tr>
		<% _.each(obj, function(data) { %>
			<tr>
				<td class="name"><a href="/explore?type=mps&id=<%= data.id %>"><%= data.name %></a></td>
				<td class="party"><span class="label label-<%= labelFromParty(data.party) %>"><%= data.party %></span></td>
				<td class="sentiment"><%= data.riding %></td>
			</tr>
		<% }); %>
	</table>
	<br />
</script>

<script type="text/template" class="template_quotation_full">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Text</th>
			<th>Party</th>
			<th>Date</th>
		</tr>
		<% _.each(obj, function(data) { %>
			<tr>
				<td class="name"><a href="/explore?type=mps&id=<%= data.from_mp.id %>"><%= data.from_mp.name %></a></td>
				<td class="text">
					<a href="/explore?type=quotations&id=<%= data.id %>" class="link btn btn-info btn-xs">Examine</a>
					<%= data.text %>
				</td>
				<td class="party"><span class="label label-<%= labelFromParty(data.from_mp.party) %>"><%= data.from_mp.party %></span></td>
				<td class="date"><%= data.date %></td>
			</tr>
		<% }); %>
	</table>
	<br />
</script>

<script type="text/template" class="tab_template">
	<ul class="nav nav-pills">
		<% _.each(obj, function(data) { %>
			<li><a href="#<%= data %>"><%= data %></a></li>
		<% }); %>
	</ul>
	<div class="tab-content">
		<% _.each(obj, function(data) { %>
			<div class="tab-pane" id="<%= data %>"></div>
		<% }); %>
	</div>
</script>

<script type="text/javascript">
	
	$(document).on('submit', 'form', function(e) {
		e.preventDefault();
		var params = $(this).serialize();
		var is_mps = $('#type').val() === "mps";
		console.log( params );
		var compiled;
		if (is_mps) {
			compiled = _.template($('.mps_template').html());
		} else {
			compiled = _.template($('.template_quotation_full').html());
		}
		$.ajax({
			url : 'search?' + params,
			type: "GET",
			dataType: 'json',
			success : function(response) {
				var $result = $("#result");
				$result.html("");
				if (is_mps) {
					var tab_tmpl = _.template($('.tab_template').html());
					var keys = Object.keys(response);
					$result.append(tab_tmpl(keys));
					_.each(response, function(data, key) {
						$('#' + key).append(compiled(data));
					});
					$('.nav-pills').find('li:first a').click();
					
				} else {
					$result.append(compiled(response.quotations));
					$('.table').find('.text').shorten();
				}
				//$result.append(compiled(response.k));
				
			}
		});
		return false;
	});
	
	$(document).on('click', '.nav-pills li a', function(e) {
		e.preventDefault();
		$(this).tab('show');
	});
</script>

<div id="result">
</div>
{% endblock %}