{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}
<h1>What Do MPs Say in the House of Commons?</h1>

<input type="button" name="show" value="show" />

<script type="text/javascript">
	$("#show-btn").click( function(){
		var selectVal = $('#quotation_mp_id :selected').val();
		$.get("quotations/" + encode(selectVal),
			function(data){
				$("#result").html(data);
			});
	});
</script>

<div id="result">
</div>
{% endblock %}